{% load static %}
<div class="sidebar" data-color="orange">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="{% url 'home' %}" class="simple-text logo-mini">
            <img src="{% static '/img/g360/banner_g360.png'%}">
        </a>
        <a href="#" class="simple-text logo-normal">
            G360°
        </a>
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-outline-white btn-icon btn-round">
                <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
                <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="{% static '/img/james.jpg' %}"/>
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>
                Admin
                <b class="caret"></b>
              </span>
                </a>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                <span class="sidebar-mini-icon">MP</span>
                                <span class="sidebar-normal">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini-icon">EP</span>
                                <span class="sidebar-normal">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini-icon">S</span>
                                <span class="sidebar-normal">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="{{ is_active_intranet }}">
                <a href="">
                    <i class="now-ui-icons design_app"></i>
                    <p>Intranet</p>
                </a>
            </li>
            {% if is_active_article_upload == 'active' or is_active_article_list == 'active' %}
                <li class="active">
                    <a data-toggle="collapse" href="#articles">
                        <i class="now-ui-icons design_image"></i>
                        <p>
                            Artículos <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse show" id="articles">
                        {% else %}
                <li>
                <a data-toggle="collapse" href="#articles">
                    <i class="now-ui-icons design_image"></i>
                    <p>
                        Artículos <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="articles">
            {% endif %}
            <ul class="nav">
                <li class="{{ is_active_article_upload }}">
                    <a href="">
                        <span class="sidebar-mini-icon">C</span>
                        <span class="sidebar-normal"> Crear </span>
                    </a>
                </li>
                <li class="{{ is_active_article_list }}">
                    <a href="">
                        <span class="sidebar-mini-icon">L</span>
                        <span class="sidebar-normal"> Listar </span>
                    </a>
                </li>
            </ul>
            </div>
            </li>
            {% if is_active_category_upload == 'active' or is_active_category_list == 'active' %}
                <li class="active">
                    <a data-toggle="collapse" href="#category">
                        <i class="now-ui-icons education_atom"></i>
                        <p>
                            Categorías <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse show" id="category">
                        {% else %}
                <li>
                <a data-toggle="collapse" href="#category">
                    <i class="now-ui-icons education_atom"></i>
                    <p>
                        Categorías <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="category">
            {% endif %}

            <ul class="nav">
                <li class="{{ is_active_category_upload }}">
                    <a href="{% url 'category_create' %}">
                        <span class="sidebar-mini-icon">C</span>
                        <span class="sidebar-normal"> Crear </span>
                    </a>
                </li>
                <li class="{{ is_active_category_list }}">
                    <a href="{% url 'category_list' %}">
                        <span class="sidebar-mini-icon">L</span>
                        <span class="sidebar-normal"> Listar </span>
                    </a>
                </li>
            </ul>



             {% if is_active_word_upload == 'active' or is_active_word_list == 'active' %}
                <li class="active">
                    <a data-toggle="collapse" href="#word">
                        <i class="now-ui-icons education_atom"></i>
                        <p>
                            Palabras <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse show" id="word">
                        {% else %}
                <li>
                <a data-toggle="collapse" href="#word">
                    <i class="now-ui-icons education_atom"></i>
                    <p>
                        Palabras <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="word">
            {% endif %}

            <ul class="nav">
                <li class="{{ is_active_word_upload }}">
                    <a href="{% url 'word_upload' %}">
                        <span class="sidebar-mini-icon">C</span>
                        <span class="sidebar-normal"> Crear </span>
                    </a>
                </li>
                <li class="{{ is_active_word_list }}">
                    <a href="{% url 'word_list' %}">
                        <span class="sidebar-mini-icon">L</span>
                        <span class="sidebar-normal"> Listar </span>
                    </a>
                </li>

            </ul>
            </div>
            </li>
            {#            <li>#}
            {#                <a data-toggle="collapse" href="#formsExamples">#}
            {#                    <i class="now-ui-icons files_single-copy-04"></i>#}
            {#                    <p>#}
            {#                        Forms <b class="caret"></b>#}
            {#                    </p>#}
            {#                </a>#}
            {#                <div class="collapse " id="formsExamples">#}
            {#                    <ul class="nav">#}
            {#                        <li>#}
            {#                            <a href="../../examples/forms/regular.html">#}
            {#                                <span class="sidebar-mini-icon">RF</span>#}
            {#                                <span class="sidebar-normal"> Regular Forms </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="../../examples/forms/extended.html">#}
            {#                                <span class="sidebar-mini-icon">EF</span>#}
            {#                                <span class="sidebar-normal"> Extended Forms </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="../../examples/forms/validation.html">#}
            {#                                <span class="sidebar-mini-icon">V</span>#}
            {#                                <span class="sidebar-normal"> Validation Forms </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="../../examples/forms/wizard.html">#}
            {#                                <span class="sidebar-mini-icon">W</span>#}
            {#                                <span class="sidebar-normal"> Wizard </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                    </ul>#}
            {#                </div>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a data-toggle="collapse" href="#tablesExamples" aria-expanded="true">#}
            {#                    <i class="now-ui-icons design_bullet-list-67"></i>#}
            {#                    <p>#}
            {#                        Tables <b class="caret"></b>#}
            {#                    </p>#}
            {#                </a>#}
            {#                <div class="collapse  show " id="tablesExamples">#}
            {#                    <ul class="nav">#}
            {#                        <li>#}
            {#                            <a href="../../examples/tables/regular.html">#}
            {#                                <span class="sidebar-mini-icon">RT</span>#}
            {#                                <span class="sidebar-normal"> Regular Tables </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="../../examples/tables/extended.html">#}
            {#                                <span class="sidebar-mini-icon">ET</span>#}
            {#                                <span class="sidebar-normal"> Extended Tables </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li class="active">#}
            {#                            <a href="../../examples/tables/datatables.net.html">#}
            {#                                <span class="sidebar-mini-icon">DT</span>#}
            {#                                <span class="sidebar-normal"> DataTables.net </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                    </ul>#}
            {#                </div>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a data-toggle="collapse" href="#mapsExamples">#}
            {#                    <i class="now-ui-icons location_pin"></i>#}
            {#                    <p>#}
            {#                        Maps <b class="caret"></b>#}
            {#                    </p>#}
            {#                </a>#}
            {#                <div class="collapse " id="mapsExamples">#}
            {#                    <ul class="nav">#}
            {#                        <li>#}
            {#                            <a href="../../examples/maps/google.html">#}
            {#                                <span class="sidebar-mini-icon">GM</span>#}
            {#                                <span class="sidebar-normal"> Google Maps </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="../../examples/maps/fullscreen.html">#}
            {#                                <span class="sidebar-mini-icon">FM</span>#}
            {#                                <span class="sidebar-normal"> Full Screen Map </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="../../examples/maps/vector.html">#}
            {#                                <span class="sidebar-mini-icon">VM</span>#}
            {#                                <span class="sidebar-normal"> Vector Map </span>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                    </ul>#}
            {#                </div>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="../../examples/widgets.html">#}
            {#                    <i class="now-ui-icons objects_diamond"></i>#}
            {#                    <p>Widgets</p>#}
            {#                </a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="../../examples/charts.html">#}
            {#                    <i class="now-ui-icons business_chart-pie-36"></i>#}
            {#                    <p>Charts</p>#}
            {#                </a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="../../examples/calendar.html">#}
            {#                    <i class="now-ui-icons media-1_album"></i>#}
            {#                    <p>Calendar</p>#}
            {#                </a>#}
            {#            </li>#}
        </ul>
    </div>
</div>