{% load static %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200|Open+Sans+Condensed:700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- CSS Files -->
<link href="{% static 'assets_intranet/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets_intranet/css/now-ui-dashboard.css' %}" rel="stylesheet" />
<link href="{% static 'assets_intranet/demo/demo_interno.css' %}" rel="stylesheet" />
