{% extends 'base_intranet/base.html' %}
{% load static %}

{% block extrastyles %}
    <style>

    </style>
{% endblock %}

{% block panel-header %}
    <div class="header text-center">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock %}

{% block body %}

    {#    <h2>Artículos</h2>#}
    <p>
        <a href="{% url 'event_upload' %}" class="btn btn-primary">Crear Evento</a>
    </p>
    <div class="card card-plain">
        <div class="card-body">

            <div class="table-responsive">

                <table id="datatable" class="table table-striped table-bordered table-sm" width="100%">
                    <thead class="thead-light">
                    <tr>
                        <th class="disabled-sorting text-center">Banner</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Responsable</th>
                        <th class="disabled-sorting text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th class="disabled-sorting text-center">Banner</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Autor</th>
                        <th class="disabled-sorting text-center">Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td class="text-center">
                                {% if event.banner %}
                                    <img src="{{ event.banner.url }}" alt="{{ event.name }}" width="80"
                                         height="80">
                                {% else %}
                                    <span class="text-muted">No banner</span>
                                {% endif %}
                            </td>
                            <td>{{ event.name|truncatechars:"100" }}</td>
                            <td>{{ event.description|truncatechars:"200" }}</td>
                            <td>{{ event.responsible }}</td>
                            <td class="text-center">
                                <a href="{% url 'event_update' event.pk %}"
                                   class="btn btn-round btn-success btn-icon btn-sm edit"><i
                                        class="far fa-edit"></i></a>
                                <a href="#" class="btn btn-round btn-danger btn-icon btn-sm"
                                   data-toggle="modal"
                                   data-target="#confirmationDeleteModal{{ event.pk }}"><i
                                        class="fas fa-trash"></i></a>
                            </td>
                            <!-- Modal -->
                            <div class="modal fade" id="confirmationDeleteModal{{ event.pk }}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="confirmationDeleteModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Evento</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 class="modal-body" id="exampleModalLabelBody">Estás seguro de realizar
                                                esta acción?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <a href="{% url 'event_delete' event.pk %}"
                                               class="btn btn-danger btn-sm">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

{% endblock %}

{% block extrajs %}

{% endblock %}
