{% extends 'base_intranet/base.html' %}
{% load static %}

{% block extrastyles %}
    <style>

        {#form {margin: 50px;padding: 20px;}#}

        div > img {
            background: #eee;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            list-style-type: none;
            border: 1px solid black;
        }

        input[type="file"] {
            display: none;
        }

    </style>
{% endblock %}

{% block panel-header %}
    <div class="header text-center">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock %}

{% block body %}
    <br>
    <br>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
{#                    <h2>Modificar artículo</h2>#}
                    <hr>
                    <form name="event_update_form" id="event_update_form" method="post"
                          action="{% url 'event_update' event.pk %}" enctype="multipart/form-data"
                          onsubmit="return validateArticleUpdateForm();">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Nombre*</label>
                            <input type="text" name="name" id="name" class="form-control"
                                   placeholder="Nombre del artículo" value="{{ event.name }}" required
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Descripción*</label>
                            <div class="min-vh-50">
                                <input id="mytextarea" name="description" value="{{ event.description|safe }}"
                                          class="tinymce d-none"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Responsable*</label>
                            <select id="responsible_select" name="responsible_select" class="form-control form-control-lg" id="exampleFormControlSelect1">
                                <option value="0">---------</option>
                                {% for user in users %}
                                    {% if user.pk == event.responsible.pk %}
                                        <option value="{{ user.pk }}" selected>{{ user }}</option>
                                    {% else %}
                                        <option value="{{ user.pk }}" >{{ user }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Fecha*</label>
                            <input type="datetime-local" name="date_event" id="date_event" class="form-control"
                                   placeholder="Fecha del evento" min="{{ date_min }}"
                                   value="{{ date_event }}" required
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Link*</label>
                            <input type="url" name="url_event" id="url_event" class="form-control"
                                   placeholder="Link del evento" value={{ event.link_event }}
                                   pattern="https://.*" required
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Google Form*</label>
                            <input type="url" name="url_form" id="url_form" class="form-control"
                                   placeholder="Link del Google Form del evento"
                                   value={{ event.link_form }} pattern="https://.*" required
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Grupo de WhatsApp*</label>
                            <input type="url" name="url_wsp_group" id="url_wsp_group" class="form-control"
                                   placeholder="Link del Google Form del evento" pattern="https://.*" required
                                   value="{{ event.link_whatsapp_group }}"
                            />
                        </div>

                        <div class="form-group mt-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="show_event_user" id="show_event_user"
                                           type="checkbox"
                                    {% if event.show_user %} checked {% endif %}>
                                    Mostrar evento al usuario
                                    <span class="form-check-sign">
                                    <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div>
                            <label class="btn btn-github btn-round" for="image_uploads">Elija una imagen*
                                <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png">
                                <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                            </label>
                            {% if event.banner %}
                                <img class="rounded" id="banner" name="banner" src="{{ event.banner.url }}"
                                     alt="banner" width="250" height="250">
                            {% else %}
                                <img class="rounded" id="banner" name="banner" src="" alt="banner" width="250"
                                     height="250"
                                     style="display:none;">
                            {% endif %}
                            <p id="message_error" style="display:none;"></p>
                        </div>

                        <div class="formulario__mensaje" id="formulario__mensaje">
                            <p id="message_upload_error" style="display:none;">
                                <i class="fas fa-exclamation-triangle"></i>
                                <b>Error:</b>
                                Por favor rellena el formulario correctamente.
                            </p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="reset" class="btn btn-danger" onclick="cancelArticleUpdate()">Cancelar
                            </button>
                            &nbsp;
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>


{% endblock %}
{% block extrajs %}

    <script src="{% static 'assets_intranet\lib\tinymce\tinymce.js' %}"></script>

    <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>

    <script>

        const inputImage = document.getElementById('image_uploads');
        const p_error = document.getElementById('message_upload_error');

        inputImage.addEventListener('change', updateImageDisplay);

        function updateImageDisplay() {
            let image = document.getElementById('banner');
            let para = document.getElementById('message_error');
            const curFiles = inputImage.files;
            if (curFiles && curFiles.length > 0) {
                const file = curFiles[0];
                if (validFileType(file)) {
                    image.src = URL.createObjectURL(file);
                    image.style.display = "block";
                    para.style.display = "none";
                } else {
                    para.textContent = `No es un tipo de archivo válido, por favor seleccionar nuevamente`;
                    para.style.display = "block";
                    image.style.display = "none";
                }
            }
        }

        const fileTypesImage = [
            'image/apng',
            'image/bmp',
            'image/gif',
            'image/jpeg',
            'image/pjpeg',
            'image/png',
            'image/svg+xml',
            'image/tiff',
            'image/webp',
            `image/x-icon`
        ];

        function validFileType(file) {
            return fileTypesImage.includes(file.type);
        }

        function validFileTypeImage() {
            let correct = false;
            let curFiles = inputImage.files;
            if (curFiles && curFiles.length > 0) {
                let file = curFiles[0];
                if (fileTypesImage.includes(file.type)) {
                    correct = true;
                }
            }
            return correct;
        }

        function validateArticleUpdateForm2() {

            let correct = false;
            let imagesOk = true;

            let name = document.forms["event_update_form"]["name"].value;
            let description = document.forms["event_update_form"]["description"].value;
            let responsible = document.forms["event_update_form"]["responsible_select"].value;

            let curFiles = inputImage.files;
            if (curFiles && curFiles.length > 0) {
                let file = curFiles[0];
                if (fileTypesImage.includes(file.type)) {
                    imagesOk = true;
                }else{
                    imagesOk = false;
                }
            }

            if (name.trim().length != 0 && responsible != 0 && imagesOk) {
                correct = true;
                p_error.style.display = "none";
            } else {
                correct = false;
                p_error.style.display = "block";
            }
            return correct;
        }

        function cancelArticleUpdate() {
            window.location.href = "{% url 'event_list' %}"
        }

    </script>
{% endblock %}