{% extends 'base_intranet/base.html' %}
{% load static %}

{% block extrastyles %}
    <style>

        {#form {margin: 50px;padding: 20px;}#}

        div > img {
            background: #eee;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            list-style-type: none;
            border: 1px solid black;
        }

        input[type="file"] {
            display: none;
        }

    </style>
{% endblock %}

{% block panel-header %}
    <div class="header text-center">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock %}

{% block body %}
    <br>
    <br>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
{#                    <h2>Nuevo artículo</h2>#}
                    <hr>
                    <form name="event_upload_form" id="event_upload_form" method="post"
                          enctype="multipart/form-data" onsubmit="return validateArticleUploadForm();">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Nombre*</label>
                            <input type="text" name="name" id="name" class="form-control"
                                   placeholder="Nombre del evento" required
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Descripción*</label>
                            <textarea class="form-control" name="description" id="description" rows="6"
                                      placeholder="Descripción del evento" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Responsable*</label>
                            <select id="responsible_select" name="responsible_select" class="form-control form-control-lg" id="exampleFormControlSelect1">
                                <option value="0">---------</option>
                                {% for user in users %}
                                    <option value="{{ user.pk }}">{{ user }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Link*</label>
                            <input type="url" name="url_event" id="url_event" class="form-control"
                                   placeholder="Link del evento" pattern="https://.*" required
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Google Form*</label>
                            <input type="url" name="url_form" id="url_form" class="form-control"
                                   placeholder="Link del Google Form del evento" pattern="https://.*" required
                            />
                        </div>

                        <div>
                            <label class="btn btn-github btn-round" for="image_uploads">Banner: Elija una imagen*
                                <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png">
                                <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                            </label>
                            <img class="rounded" id="banner" name="banner" src="" alt="banner" width="250" height="250"
                                 style="display:none;">
                            <p id="message_error" style="display:none;"></p>
                        </div>

                        <div class="formulario__mensaje" id="formulario__mensaje">
                            <p id="message_upload_error" style="display:none;">
                                <i class="fas fa-exclamation-triangle"></i>
                                <b>Error:</b>
                                Por favor rellena el formulario correctamente.
                            </p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="reset" class="btn btn-danger" onclick="cancelArticleUpload()">Cancelar
                            </button>
                            &nbsp;
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>


{% endblock %}
{% block extrajs %}
    <script>

        const inputImage = document.getElementById('image_uploads');
        const p_error = document.getElementById('message_upload_error');

        inputImage.addEventListener('change', updateImageDisplay);

        function updateImageDisplay() {
            let image = document.getElementById('banner');
            let para = document.getElementById('message_error');
            const curFiles = inputImage.files;
            if (curFiles && curFiles.length > 0) {
                const file = curFiles[0];
                if (validFileType(file)) {
                    image.src = URL.createObjectURL(file);
                    image.style.display = "block";
                    para.style.display = "none";
                } else {
                    para.textContent = `No es un tipo de archivo válido, por favor seleccionar nuevamente`;
                    para.style.display = "block";
                    image.style.display = "none";
                }
            }
        }

        const fileTypesImage = [
            'image/apng',
            'image/bmp',
            'image/gif',
            'image/jpeg',
            'image/pjpeg',
            'image/png',
            'image/svg+xml',
            'image/tiff',
            'image/webp',
            `image/x-icon`
        ];

        function validFileType(file) {
            return fileTypesImage.includes(file.type);
        }

        function validFileTypeImage() {
            let correct = false;
            let curFiles = inputImage.files;
            if (curFiles && curFiles.length > 0) {
                let file = curFiles[0];
                if (fileTypesImage.includes(file.type)) {
                    correct = true;
                }
            }
            return correct;
        }

        function validateArticleUploadForm() {

            let correct = false;

            let name = document.forms["event_upload_form"]["name"].value;
            let description = document.forms["event_upload_form"]["description"].value;
            let responsible = document.forms["event_upload_form"]["responsible_select"].value;

            if (name.trim().length != 0 && description.trim().length != 0 && responsible != 0 && validFileTypeImage()) {
                correct = true;
                p_error.style.display = "none";
            } else {
                correct = false;
                p_error.style.display = "block";
            }
            return correct;
        }

        function cancelArticleUpload() {
            window.location.href = "{% url 'event_list' %}"
        }

    </script>
{% endblock %}