{% load static %}

<div class="about-team team-4">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Nuestras alianzas</h2>
                <h4 class="description">Aca iria una descripcion sobre esta seccion...etc</h4>
            </div>
        </div>
        <div class="row px-2">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row d-flex justify-content-center">
                    {% for alliance in alliances %}
                        <div class="card card-plain card-blog">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-image">
                                         <a href="{% url 'alliance_detail_user' alliance.pk %}">
                                        <img class="img img-raised rounded" src="{{ media_path }}{{ alliance.banner }}"/>
                                    </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="card-title">
                                        <a href="{% url 'alliance_detail_user' alliance.pk %}">{{ alliance.name }}</a>
                                    </h3>
                                    <p class="card-description">
                                        {{ alliance.description|truncatechars:"100" }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>