{% extends 'base/base_home.html' %}
{% load static %}

{% block extrastyles %}
    <style>

    </style>
{% endblock %}

{% block panel-header %}
    <div class="header text-center">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="card card-plain">
        <div class="card-body">
            <div class="table-responsive">

                <table id="datatable" class="table table-striped table-bordered table-sm" width="100%">
                    <thead class="thead-light">
                    <tr>
                        <th class="text-center">Palabra</th>
                        <th class="text-center">Definición</th>
                        <th class="text-center">Categoría</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th class="text-center">Palabra</th>
                        <th class="text-center">Definición</th>
                        <th class="text-center">Categoría</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for word in words %}
                        <tr>
                            <td>{{ word.word }}
                                <a tabindex="0" class="btn btn-primary btn-link" role="button" data-toggle="popover"
                                   data-trigger="focus" title="{{ word.word }}"
                                   data-content="{{ word.definition}}">
                                   {{ word.word }}
                                </a>
                            </td>
                            <td>{{ word.definition|truncatechars:"100" }}
                                <a tabindex="0" class="btn btn-primary btn-link" role="button" data-toggle="popover"
                                   data-trigger="focus" title="Leer"
                                   data-content="{{ word.definition}}">
                                   Leer
                                </a>
                            </td>
                            <td>{{ word.category.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block extrajs %}
    <script>
        $('.popover-dismiss').popover({
            trigger: 'focus'
        })
    </script>
{% endblock %}