{% extends 'base_intranet/base.html' %}
{% load static %}

{% block extrastyles %}
    <style>

        {#form {margin: 50px;padding: 20px;}#}

        div > img {
            background: #eee;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            list-style-type: none;
            border: 1px solid black;
        }

        input[type="file"] {
            display: none;
        }

    </style>
{% endblock %}

{% block panel-header %}
    <div class="header text-center">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock %}

{% block body %}
    <br>
    <br>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <hr>
                    <form name="alliance_update_form" id="alliance_update_form" method="post"
                          action="{% url 'alliance_update' alliance.pk %}" enctype="multipart/form-data"
                          onsubmit="return validateAllianceUpdateForm();">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Título*</label>
                            <input type="text" name="name" id="name" class="form-control"
                                   placeholder="Nombre del aliado" value="{{ alliance.name }}"
                            />
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción*</label>
                            <textarea class="form-control" name="description" id="description" rows="6"
                                      placeholder="Descripción del aliado">{{ alliance.description }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="type">Rubro*</label>
                            <input type="text" name="type" id="type" class="form-control"
                                   placeholder="Rubro del aliado" value="{{ alliance.type }}"
                            />
                        </div>
                        <div class="form-group">
                            <label for="author_select">Autor*</label>
                            <select id="author_select" name="author_select" class="form-control form-control-lg"
                                    id="exampleFormControlSelect1">
                                <option value="0">---------</option>
                                {% for user in users %}
                                    {% if user.pk == alliance.author.pk %}
                                        <option value="{{ user.pk }}" selected>{{ user }}</option>
                                    {% else %}
                                        <option value="{{ user.pk }}">{{ user }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        {#                        <div class="form-group">#}
                        {#                            <label for="exampleFormControlSelect1">Categoría*</label>#}
                        {#                            <select id="category_select" name="category_select" class="form-control form-control-lg" id="exampleFormControlSelect1">#}
                        {#                                <option value="0">---------</option>#}
                        {#                                {% for categorie in categories %}#}
                        {#                                    {% if categorie.pk == article.category.pk %}#}
                        {#                                        <option value="{{ categorie.pk }}" selected>{{ categorie.name }}</option>#}
                        {#                                    {% else %}#}
                        {#                                        <option value="{{ categorie.pk }}" >{{ categorie.name }}</option>#}
                        {#                                    {% endif %}#}
                        {#                                {% endfor %}#}
                        {#                            </select>#}
                        {#                        </div>#}
                        <div class="form-group">
                            <label for="fb_link">Facebook</label>
                            <input type="text" name="fb_link" id="fb_link" class="form-control"
                                   placeholder="Enlace del perfil de Facebook" value="{{ alliance.fb_link }}"
                            />
                        </div>
                        <div class="form-group">
                            <label for="instagram_link">Instagram</label>
                            <input type="text" name="instagram_link" id="instagram_link" class="form-control"
                                   placeholder="Enlace del perfil de Instagram" value="{{ alliance.instagram_link }}"
                            />
                        </div>
                        <div class="form-group">
                            <label for="twitter_link">Twitter</label>
                            <input type="text" name="twitter_link" id="twitter_link" class="form-control"
                                   placeholder="Enlace del perfil de Twitter" value="{{ alliance.twitter_link }}"
                            />
                        </div>
                        <div class="form-group">
                            <label for="website_link">Website</label>
                            <input type="text" name="website_link" id="website_link" class="form-control"
                                   placeholder="Enlace de la página web del aliado" value="{{ alliance.website_link }}"
                            />
                        </div>
                        <div class="d-flex align-items-center flex-column bd-highlight mb-3">
                            <label class="btn btn-github btn-round" for="image_uploads">Elija una imagen*
                                <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png">
                                <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                            </label>
                            {% if alliance.banner %}
                                <img class="rounded" id="banner" name="banner" src="{{ alliance.banner.url }}"
                                     alt="banner" width="250" height="250">
                            {% else %}
                                <img class="rounded" id="banner" name="banner" src="" alt="banner" width="250"
                                     height="250"
                                     style="display:none;">
                            {% endif %}
                            <div class="alert alert-warning mt-2" id="message_error" style="display:none;">
                                <span><b> No es un tipo de archivo válido, por favor seleccionar nuevamente. </b></span>
                            </div>
                        </div>

                        <div class="formulario__mensaje" id="formulario__mensaje">
                            <div class="alert alert-primary text-center" id="message_update_error"
                                 style="display:none;">
                                <span><b> Por favor rellenar campos obligatorios del formulario. </b></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="reset" class="btn btn-danger" onclick="cancelAllianceUpdate()">Cancelar
                            </button>
                            &nbsp;
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>


{% endblock %}
{% block extrajs %}
    <script>

        const inputImage = document.getElementById('image_uploads');
        const p_error = document.getElementById('message_update_error');

        inputImage.addEventListener('change', updateImageDisplay);

        function updateImageDisplay() {
            let image = document.getElementById('banner');
            let para = document.getElementById('message_error');
            const curFiles = inputImage.files;
            if (curFiles && curFiles.length > 0) {
                const file = curFiles[0];
                if (validFileType(file)) {
                    image.src = URL.createObjectURL(file);
                    image.style.display = "block";
                    para.style.display = "none";
                } else {
                    para.style.display = "block";
                    image.style.display = "none";
                }
            }
        }

        const fileTypesImage = [
            'image/apng',
            'image/bmp',
            'image/gif',
            'image/jpeg',
            'image/pjpeg',
            'image/png',
            'image/svg+xml',
            'image/tiff',
            'image/webp',
            `image/x-icon`
        ];

        function validFileType(file) {
            return fileTypesImage.includes(file.type);
        }

        function validFileTypeImage() {
            let correct = false;
            let curFiles = inputImage.files;
            if (curFiles && curFiles.length > 0) {
                let file = curFiles[0];
                if (fileTypesImage.includes(file.type)) {
                    correct = true;
                }
            }
            return correct;
        }

        function validateAllianceUpdateForm() {
            let correct = false;
            let imagesOk = true;

            let name = document.forms["alliance_update_form"]["name"].value;
            let description = document.forms["alliance_update_form"]["description"].value;
            let author = document.forms["alliance_update_form"]["author_select"].value;
            let type = document.forms["alliance_update_form"]["type"].value;



            let curFiles = inputImage.files;
            if (curFiles && curFiles.length > 0) {
                let file = curFiles[0];
                if (fileTypesImage.includes(file.type)) {
                    imagesOk = true;
                } else {
                    imagesOk = false;
                }
            }

            if (name.trim().length != 0 && description.trim().length != 0 && type.trim().length != 0 && author != 0 && imagesOk) {
                correct = true;
                p_error.style.display = "none";
            } else {
                correct = false;
                p_error.style.display = "block";
            }
            return correct;
        }

        function cancelAllianceUpdate() {
            window.location.href = "{% url 'alliance_list' %}"
        }

    </script>
{% endblock %}