{% load static %}

<div class="container" style="max-height: 500px;width: 1000px;">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
            <div id="carouselSponsors" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
{#                    {% for sponsor in sponsors %}#}
{#                        {% if sponsor.pk == sponsor_active_pk %}#}
{#                            <li data-target="#carouselSponsors" data-slide-to="0" class="active"></li>#}
{#                        {% else %}#}
{#                            <li data-target="#carouselSponsors" data-slide-to="1" class=""></li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% for sponsor in sponsors %}
                        {% if sponsor.pk == sponsor_active_pk %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                    <img class="d-block" src="{{ media_path }}{{ sponsor.banner }}" alt="{{ sponsor.name }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ sponsor.name }}</h5>
                    </div>
                    </div>
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselSponsors" role="button" data-slide="prev">
                        <i class="now-ui-icons arrows-1_minimal-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselSponsors" role="button" data-slide="next">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


