{% load static %}

<br>
<div class="container" style="max-height: 1100px;width: 1100px;">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                    {% for enum in enum_items_slider %}
                        {% if forloop.counter == 1 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ enum }}" class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ enum }}" class=""></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner" role="listbox">

                    {% for item in items_slider %}
                        {% if forloop.counter == 1 %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                    {% if item.type_item == 'Article' %}
                        <a href="{% url 'article_detail' item.article.pk %}">
                            <img class="d-block" src="{{ item.article.banner.url }}" alt="First slide"></a>
                        <div class="carousel-caption d-none d-md-block">
{#                            <h5>{{ item.article.name }}</h5>#}
                            <a class="btn btn-instagram" href="{% url 'article_detail' pk=item.article.pk %}"><b>Ver más...</b></a>
                        </div>
                    {% endif %}
                    {% if item.type_item == 'Event' %}
                        <a href="{% url 'event_detail' item.event.pk %}">
                            <img class="d-block" src="{{ item.event.banner.url }}" alt="First slide"></a>
                        <div class="carousel-caption d-none d-md-block">
{#                            <a class="btn btn-instagram"><h5>{{ item.event.name }}</h5></a>#}
                            <a class="btn btn-instagram" href="{% url 'event_detail' pk=item.event.pk %}"><b>Inscribete aquí!</b></a>
                        </div>
                    {% endif %}
                    </div>
                    {% endfor %}
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="now-ui-icons arrows-1_minimal-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>