{% load static %}

<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image:url(https://posgradosmexico.up.edu.mx/hubfs/shutterstock_453862897.jpg);">
    </div>
    <div class="content-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Patrocinadores</h1>
                <h4>Conozca a nuestros patrocinadores.</h4>
            </div>
        </div>
    </div>
</div>