{% load static %}

<div class="about-team team-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Nuestro equipo</h2>
              <h4 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-image">
                      <a href="#pablo">
                        <img class="img img-raised rounded" src="{% static 'img/olivia.jpg' %}" />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h4 class="card-title">Ella Evelyn</h4>
                      <h6 class="category">Air Crew Member</h6>
                      <p class="card-description">
                        Think in the morning. Act in the noon. Eat in the evening. Sleep in the night......
                      </p>
                      <div class="card-footer">
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook"><i class="fab fa-facebook-square"></i></a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-google"><i class="fab fa-google"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-image">
                      <a href="#pablo">
                        <img class="img img-raised rounded" src="{% static 'img/emily.jpg' %}" />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h4 class="card-title">Mila Skylar</h4>
                      <h6 class="category">Architect</h6>
                      <p class="card-description">
                        Love cures people - both the ones who give it and the ones who receive it...
                      </p>
                      <div class="card-footer">
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-linkedin"><i class="fab fa-linkedin"></i></a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook"><i class="fab fa-facebook-square"></i></a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-dribbble"><i class="fab fa-dribbble"></i></a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-google"><i class="fab fa-google"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-image">
                      <a href="#pablo">
                        <img class="img img-raised rounded" src="{% static 'img/james.jpg' %}" />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h4 class="card-title">Daniel Carter</h4>
                      <h6 class="category">Aviation Inspector</h6>
                      <p class="card-description">
                        Keep your face always toward the sunshine - and shadows will fall behind you...
                      </p>
                      <div class="card-footer">
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-youtube"><i class="fa fab-youtube"></i></a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-instagram"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-image">
                      <a href="#pablo">
                        <img class="img img-raised rounded" src="{% static 'img/michael.jpg' %}" />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h4 class="card-title">Dylan Wyatt</h4>
                      <h6 class="category">Conservation Scientist</h6>
                      <p class="card-description">
                        There is only one corner of the universe you can be certain of improving, and that's your own self...
                      </p>
                      <div class="card-footer">
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-linkedin"><i class="fab fa-linkedin"></i></a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook"><i class="fab fa-facebook-square"></i></a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-google"><i class="fab fa-google"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>