{% load static %}

<div class="about-team team-4">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Nuestros patrocinadores</h2>
                <h4 class="description">This is the paragraph where you can write more details about your team. Keep you
                    user engaged by providing meaningful information.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row d-flex justify-content-center">
                    {% for sponsor in sponsors %}
                        <div class="col-md-4 d-flex align-items-stretch">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="{% url 'sponsor_detail_user' sponsor.pk %}">
                                        {% if sponsor.banner %}
                                            <img class="img rounded" src="{{ media_path }}{{ sponsor.banner }}"
                                                 alt="{{ sponsor.name }}">
                                        {% else %}
                                            <span class="text-muted">Sin imagen</span>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card-body">
{#                                    <h6 class="category text-primary">Features</h6>#}
                                    <a href="{% url 'sponsor_detail_user' sponsor.pk %}">
                                        <h5 class="card-title">
                                            {{ sponsor.name|truncatechars:"100" }}
                                        </h5>
                                    </a>
                                    <p class="card-description">
                                        {{ sponsor.description|truncatechars:"100" }}
                                    </p>
                                    <div class="card-footer">
                                        {#                                        <div class="author">#}
                                        {#                                            <span>{{ sponsor.responsable }}</span>#}
                                        {#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>