{% load static %}

<div class="about-team team-4">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Nuestros patrocinadores</h2>
                <h4 class="description">This is the paragraph where you can write more details about your team. Keep you
                    user engaged by providing meaningful information.</h4>
            </div>
        </div>
        <div class="row px-2">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row d-flex justify-content-center">
                    {% for sponsor in sponsors %}
                        <div class="card card-plain card-blog">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-image">
                                         <a href="{% url 'sponsor_detail_user' sponsor.pk %}">
                                        <img class="img img-raised rounded" src="{{ media_path }}{{ sponsor.banner }}"/>
                                    </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="card-title">
                                        <a href="{% url 'sponsor_detail_user' sponsor.pk %}">{{ sponsor.name }}</a>
                                    </h3>
                                    <p class="card-description">
                                        {{ sponsor.description|truncatechars:"100" }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>