{% extends 'base/base.html' %}
{% load static %}

{% block extrastyles %}
    <style>
        .card-image img {
            width: 100%;
            height: auto;
        }

        @supports (object-fit: cover) {
            .card-image img {
                height: 100%;
                min-height: 13rem;
                object-fit: cover;
                object-position: center center;
            }
        }

    </style>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true"
                 style="background-image: url('{% static 'img/g360/banner_events3.jpg' %}');">
            </div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Artículos</h2>
                        <h4>Conoce los artículos que hemos preparado</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- SECCIÓN DE CATEGORIAS-->


        <div class="blogs-3">
            <div class="container">
                <div class="section">
                    <h3 class="title text-center">Artículos más recientes</h3>
                    <br/>

                    <div class="row">
                        <div class="col-1 justify-content-center">
                            <label for="category_select">Categoría:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <select id="category_select" name="category_select" class="form-control form-control-lg"
                                        onchange="articles_list_category()">
                                    <option value="0">---------</option>
                                    {% for categorie in categories %}
                                        <option value="{{ categorie.pk }}">{{ categorie.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 justify-content-center">
                            <label for="category_select">Autor:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <select id="author_select" name="author_select" class="form-control form-control-lg"
                                        onchange="articles_list_category()">
                                    <option value="0">---------</option>
                                    {% for author in users %}
                                        <option value="{{ author.pk }}">{{ author.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 justify-content-center">
                            <label for="category_select">Titulo:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="input-group ">
                                    <input type="text" id="filter_text" class="form-control" placeholder=""
                                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <div class="input-group-text btn m-0" id="filterSearch">
                                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 justify-content-center">
                            <label for="category_select">Inicio:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text" id="bottomDate" class="form-control datepicker">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 justify-content-center">
                            <label for="category_select">Fin:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text" id="topDate" class="form-control datepicker">
                            </div>
                        </div>
                    </div>

                    {% comment %}  <div class="row mt-3">
                        {% for article in articles %}
                            <div class="col-md-4">
                                <div class="card card-plain card-blog">
                                    <div class="card-image">
                                        <a href="{% url 'article_detail' article.pk %}">
                                            <img class="img rounded img-raised" src={{ article.banner.url }}/>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"> {{ article.name }}
                                            <a href="{% url 'article_detail' article.pk %}"></a>
                                        </h4>
                                        <p class="card-description">{{ article.description|truncatechars:"180" }}
                                            <a href="{% url 'article_detail' article.pk %}"> Leer más </a>
                                        <div class="author">
                                            <span>{{ article.author }}</span>
                                        </div>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary"> Ver mas</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>{% endcomment %}
                    <div id="articles_list" class="row mt-3"></div>
                </div>
            </div>
        </div>
    </div>

    {% include 'event/../assets/contact_us_section.html' %}

{% endblock %}

{% block extrajs %}

    <script>
        $(document).ready(function () {
            articles_list_category();
            $('#filter_text').keypress(function (e) {
                if (e.keyCode == 13)
                    articles_list_category();
            });

            $('#filterSearch').click(function (e) {
                articles_list_category();
            });

            $('#topDate').on('dp.change', function (e) {
                articles_list_category();
            });

            $('#bottomDate').on('dp.change', function (e) {
                articles_list_category();
            });

        });

        function redirect_detail_article(id_article) {
            document.location.href = "../../article/article_detail/" + id_article;
        }

        function print_results(instance) {
            var i;
            var numero = instance.length;
            var data = '';
            for (i = 0; i < numero; i++) {
                data += (
                    '    <div class="col-md-4">' +
                    '        <div class="card card-plain card-blog">' +
                    '            <div class="card-image">' +
                    '                    <img class="img rounded img-raised" onclick="redirect_detail_article(' + instance[i]["pk"] + ')" src=' + {{ media_path }} +instance[i]["fields"].banner + '/>' +
                    '            </div>' +
                    '            <div class="card-body">' +
                    '                <h4 class="card-title" )>' + instance[i]["fields"].name +
                    '                </h4>' +
                    '                <p class="card-description">' + instance[i]["fields"].description.substr(0, 200) + '...' +
                    '                <buttom> ' +
                    '                </p>' +
                    '            </div>' +
                    '            <div class="card-footer">' +
                    '                <button class="btn btn-primary" onclick="redirect_detail_article(' + instance[i]["pk"] + ')"> Ver mas</button>' +
                    '            </div>' +
                    '        </div>' +
                    '    </div>'
                )
            }
            $("#articles_list").empty();
            $("#articles_list").append(data);
            $("#filter_text").val('');
        }

        function articles_list_category() {
            console.log('dentro de listar articulos')
            console.log($("#category_select").val())
            $.ajax({
                type: 'POST',
                url: "{% url 'articles_list_category' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    category_id: $("#category_select").val(),
                    author_id: $("#author_select").val(),
                    filter_text: $("#filter_text").val(),
                    bottomDate: $("#bottomDate").val(),
                    topDate: $("#topDate").val()
                },
                success: function (response) {
                    var instance = JSON.parse(response['articles']);
                    console.log(instance);
                    console.log({{ media_path }})
                    print_results(instance);
                },
                error: function (response) {
                    console.log('Ocurrio un error')
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


    </script>

    <script>
        $(document).ready(function () {
            $("#alert_success").hide();
            $("#alert_danger").hide();
            $("time.timeago").timeago();

            $('form').on('submit', function (e) {
                e.preventDefault();
                let parameters = $(this).serializeArray();
                console.log(parameters);
                $.ajax({
                    url: '{% url 'contact_us' %}',
                    type: 'POST',
                    data: parameters,
                    dataType: 'json'
                }).done(function (data) {
                    //si no hay error
                    if (!data.hasOwnProperty('error')) {
                        $("#alert_success").text(data['exito']);
                        $("#alert_success").fadeTo(2000, 500).slideUp(500, function () {
                            $("#alert_success").slideUp(500);
                        });
                        $('form')[0].reset();
                        return false;
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    $("#alert_success").text(textStatus + ': ' + errorThrown);
                    $("#alert_danger").fadeTo(2000, 500).slideUp(500, function () {
                        $("#alert_danger").slideUp(500);
                    });
                }).always(function (data) {

                })
            })
        });
    </script>

{% endblock %}